#conteneur{
	border-style:solid;
	padding: 1%;
	width: 95%;
	height: 95%;
	margin: auto;
}
body { 
    margin: 0; 
    font-family: sans-serif; 
    background-image: url(../img/map/carte.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.boite1{ 
	border:thick solid;
    position:absolute ;
	width:135px;
	height:135px;
    right: 72%;
    top: 40%;
}

@media screen and (max-width: 800px) {
    .boite1 {
        top:15%;
		right: 35%;
    }
}

.boite2{ 
	border:thick solid;
    position:absolute ;
	width:135px;
	height:135px;
    right: 45%;
    top: 40%;
}

@media screen and (max-width: 800px) {
    .boite2 {
        top:40%;
		right: 35%;
    }
}

.boite3{ 
	border:thick solid;
    position:absolute ;
	width:135px;
	height:135px;
    right: 18%;
    top: 40%;
}

@media screen and (max-width: 800px) {
    .boite3 {
        top:65%;
		right: 35%;
    }
}

.image{
    width: 135px;
    height: 135px;
}